@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");
@import "katex/dist/katex.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Fredoka", sans-serif;
    @apply bg-gradient-to-b from-[#46C6F6] to-[#85D8F7] min-h-screen text-slate-800;
  }
}

@keyframes float {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(100vw);
  }
}

.animate-float-slow {
  animation: float 45s linear infinite;
}

.animate-float-medium {
  animation: float 30s linear infinite;
}

.animate-float-fast {
  animation: float 20s linear infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.animate-shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes popup {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-50px) scale(1.2);
    opacity: 0;
  }
}

.animate-popup {
  animation: popup 1s ease-out forwards;
}

@keyframes particle {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(var(--tx), var(--ty)) scale(0);
    opacity: 0;
  }
}

.animate-particle {
  animation: particle 0.5s ease-out forwards;
}

@keyframes blink {
  0%,
  90%,
  100% {
    transform: scaleY(1);
  }
  95% {
    transform: scaleY(0.1);
  }
}

.animate-blink {
  animation: blink 3s infinite;
}

@keyframes look {
  0%,
  40%,
  100% {
    transform: translateX(0);
  }
  50%,
  60% {
    transform: translateX(-3px);
  }
  70%,
  80% {
    transform: translateX(3px);
  }
}

.animate-look {
  animation: look 5s infinite;
}
