@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");
@import "katex/dist/katex.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Fredoka", sans-serif;
    @apply bg-gradient-to-b from-[#46C6F6] to-[#85D8F7] min-h-screen text-slate-800;
  }
}
